<nav class="navbar navbar-default cm-navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">四川大学非官方教务系统</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand cm-navbar-brand" href="/users/plan">
                <img alt="Brand" src="/images/logo.jpg">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li id="plan"><a href="/users/plan">方案完成情况</a></li>-->
                <li id="grade"><a href="/users/grade">本学期成绩</a></li>
                <li id="grades"><a href="/users/grades">所有及格成绩</a></li>
                <!--<li id="grades"><a href="/users/grades">不及格成绩</a></li>-->
                <!--<li id="curriculum"><a href="/users/curriculum">课表</a></li>-->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/calculate_rule">绩点计算规则</a></li>
                        <li><a href="/calculate_rule">关于</a></li>
                        <li><a href="/calculate_rule">反馈</a></li>
                        <li><a href="http://pj.fyscu.com">一键评教</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
