<footer class="footer">
    Made with <span class="icon-heart"></span> by <a href="http://nodejh.com" target="_blank">nodejh</a>
</footer>

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="/javascripts/common.js"></script>
