<% include _head.ejs %>
<% include _header.ejs %>
<% include _nav.ejs %>


<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
            方案完成情况
        </div>
    </div>
</div>


<% include _scripts.ejs %>
<script type="text/javascript" src="/javascripts/index.js"></script>
<% include _footer.ejs %>
