body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 100%;
    position: relative;
}

a {
    color: #00B7FF;
}

.cm-navbar-brand {
    padding: 1px 15px;
}

.cm-navbar-brand img {
    height: 100%;
}

.cm-navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .active.cm-active > a, .navbar-default .navbar-nav > .active.cm-active > a:hover, .navbar-default .navbar-nav > .active.cm-active > a:focus {
    color: #555;
    background-color: #f8f8f8;
}

.form-login-heading {
    margin: 30px auto;
}

.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="number"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cm-td-20 {
    width: 20%;
}

.cm-td-18 {
    width: 18%;
}

.cm-td-17 {
    width: 17%;
}

.cm-td-16 {
    width: 16%;
}

.cm-td-15 {
    width: 15%;
}

.cm-td-14 {
    width: 14%;
}

@media (max-width: 768px) {
    .table > thead > tr > th, .table > tbody > tr > th, .table > tbody > tr > td {
        padding: 5px;
    }
}

.cm-term {
    margin: 1px auto 50px auto;
}
.cm-table-title {
    padding: 0 8px;
}
.cm-table-info {
    margin: 10px auto 10px auto;
    padding: 0 8px;
}

/* 动态为footer添加类fixed-bottom */
.fixed-bottom {
    position: fixed;
}
.footer {
    height: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    z-index: 9;
}
.footer a {
    color: #000;
    text-decoration: underline;
}

.footer .icon-heart {
    color: pink;
}